@import "../../variables";

.container.admin-login {
    width: 300px;
    height: auto;
    form {
        display: flex;
        flex-direction: column;

        .error-text {
            margin-top: -1rem;
            margin-bottom: 1rem;
        }

        input {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            padding: 1rem;
            outline: none;

            &.error {
                border-color: red;
            }
        }

        button {
            background-color: $primaryColor;
            padding: 1rem;
            border: none;
            font-size: 1.2rem;
            cursor: pointer;
        }
    }
}
